# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
# Compiled Go binary, should not be tracked in version control
youtube-downloader 

# Project specific
downloads/
*.mp4
*.webm
*.mkv

# Environment variables
.env

# IDE specific
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db 

/notes
/notes/*